[submodule "innoscripta-challange"]
	path = innoscripta-challange
	url = git@github.com:zombozo12/innoscripta-challange.git
[submodule "innoscripta-frontend"]
	path = innoscripta-frontend
	url = git@github.com:zombozo12/innoscripta-frontend.git
