[submodule "innoscripta-challange"]
	path = innoscripta-challange
	url = https://github.com/zombozo12/innoscripta-challange
[submodule "innoscripta-frontend"]
	path = innoscripta-frontend
	url = https://github.com/zombozo12/innoscripta-frontend
